.full_page_text {
  background-color: white;
}
.myName {
  color: black;
  margin: 25px;
}
.avatar_logo {
  height: 18%;
  width: 18%;
  background-color: #6e07f3;
  border-radius: 40px;
}
.devices_logo {
  height: 60%;
  width: 60%;
  margin-top: 8%;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #6e07f3;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
