@import "~bootstrap-icons/font/bootstrap-icons";

.main_tag {
  border-radius: 30px;
}
.title_card {
  border: 1px solid #6e07f3;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.def_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
